@import "tailwindcss";
@keyframes spinCW {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinCCW {
  100% {
    transform: rotate(-360deg);
  }
}
.animate-spin-clockwise {
  animation: spinCW 2s linear infinite;
}
.animate-spin-counter {
  animation: spinCCW 2s linear infinite;
}
