name: Deploy steinalytics project to s3 bucket

on:
  push:
    branches:
      - main

permissions: 
    id-token: write
    contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with: 
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with: 
          role-to-assume: arn:aws:iam::092963739214:role/steinalytics-github-deployment
          aws-region: us-east-1

      - name: copy build to bucket
        run: |
          aws s3 sync ./build s3://steinalytics --delete
